function __fish{{ function }}_no_subcommand
    for i in (commandline -opc)
        if contains -- $i {{ cmds_names }}
            return 1
        end
    end
    return 0
end

# global options
{% for opt, descr in opts.items() %}
complete -c {{ script_name }} -n '__fish{{ function }}_no_subcommand' -l {{ opt }} -d '{{ descr }}'
{% endfor %}

# commands
{{ cmds }}

# command options

{{ cmds_opts }}
